/* -------------------------------------------------------------------------- 
	#. Button General
  -------------------------------------------------------------------------- */

p.adfy-wishlist-btn .button,
.adfy-wishlist-btn:not(p.adfy-wishlist-btn) {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: normal;
    cursor: pointer;
    box-shadow: none;
    border-style: none;
    border-width: 0;
    border-color: transparent;
    @include transition_delay();

    &:focus,
    &:hover {

        box-shadow: none;
        border-style: none;
        border-width: 0;
        border-color: transparent;
    }

    &.adfy-wishlist-clear-button-style {

        padding: 0;
        margin: 0;
        color:#444444;
        border: none;
        cursor: pointer;
        box-shadow: none;
        border-color: none;
        text-decoration: none;
        background-color: transparent;

        &:hover {

            color:#444444;
            border: none;
            box-shadow: none;
            text-decoration: none;
            background-color: transparent;
        }
    }
}


/**
*
* Clear shortcode button style.
* Used on WooCommerce add to cart shortcode.
* @since: 1.1.1
*/

.adfy-wishlist-clear-shortcode-button-style.woocommerce.product {

    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-transform: none;
    box-shadow: none;
    border-radius: 0;
    color: inherit;
    fill: inherit;
    text-align: inherit;
    transition: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    opacity: 1;
    background: transparent;
    background-color: transparent;

    &:hover {

        width: auto;
        height: auto;
        color: inherit;
        fill: inherit;
        outline: none;
        text-decoration: none;
        background: transparent;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }

    &:focus {

        fill: inherit;
        color: inherit;
        outline: none;
        text-decoration: none;
        background: transparent;
        background-color: transparent;
        border-radius: 0;
    }
}

/* -------------------------------------------------------------------------- 
	#. Add to Wishlist button
  -------------------------------------------------------------------------- */

.adfy-wishlist-btn,
.addonify-add-to-wishlist-btn,
.addonify-wishlist-add-to-cart .button,
.addonify-wishlist-add-to-cart .added_to_cart,
.woocommerce ul.products li.product .addonify-add-to-wishlist-btn, 
.woocommerce-page ul.products li.product .addonify-add-to-wishlist-btn {

    color: var(--adfy_wishlist_wishlist_btn_text_color);
    background: transparent;
    background-color: var(--adfy_wishlist_wishlist_btn_bg_color);
    @include transition_delay();

    .icon {

        color: var(--adfy_wishlist_wishlist_btn_icon_color);
    }

    &:hover {

        outline: none;
        color: var(--adfy_wishlist_wishlist_btn_text_color_hover);
        background: transparent;
        background-color: var(--adfy_wishlist_wishlist_btn_bg_color_hover);

        .icon {

            color: var(--adfy_wishlist_wishlist_btn_icon_color_hover);
        }
    }

    &:focus {

        outline: none;
    }
}

.addonify-wishlist-add-to-cart .button,
.addonify-wishlist-add-to-cart .added_to_cart {

    padding: 10px 15px;
    border-radius: 2px;
}