/* -------------------------------------------------------------------------- 
	#. Wishlist button
  -------------------------------------------------------------------------- */

.adfy-wishlist-btn {

    font-weight: normal;
    cursor: pointer;
    @include transation_delay();
    
    .show-label .adfy-wishlist-icon {

        margin-right: 5px;
    }
}

// button with no button style 

.adfy-wishlist-clear-button-style {

    padding: 0;
    margin: 0;
    color:#333333;
    cursor: pointer;
    border-color: none;
    background-color: transparent;
}

.adfy-wishlist-clear-button-style:hover {

    color:grey;
    border-color: none;
    background-color: transparent;
}

// add to wishlist button

.addonify-add-to-wishlist-btn button[disabled] {

	cursor: not-allowed;
    opacity: 0.6 !important
}

.addonify-add-to-wishlist-btn .before-add-to-cart {

    margin-bottom: 1em
}

.addonify-add-to-wishlist-btn .after-add-to-cart {

    margin-top: 1em
}

// wishlist overlay button 

.addonify-overlay-buttons {

    position: relative;
}

.addonify-overlay-buttons .addonify-overlay-btn-wrapper {

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    @include transation_delay();
}

.addonify-overlay-buttons .addonify-overlay-btn-wrapper .addonify-overlay-btn {

    opacity: 1;
    @include large_drop_shadow();
}
