/* -------------------------------------------------------------------------- 
	#. Tippy styles
  -------------------------------------------------------------------------- */

.tippy-box[data-animation=scale][data-placement^=top] {

    transform-origin: bottom
}

.tippy-box[data-animation=scale][data-placement^=bottom] {

    transform-origin: top
}

.tippy-box[data-animation=scale][data-placement^=left] {

    transform-origin: right
}

.tippy-box[data-animation=scale][data-placement^=right] {

    transform-origin: left
}

.tippy-box[data-animation=scale][data-state=hidden] {

    transform: scale(.5);
    opacity: 0
}

.tippy-box {

	font-size: 15px;
	line-height: 1.3;
	font-weight: normal;
	padding: 2px 10px 3px 10px;
	border-radius: 2px;
}