
@keyframes addonifyPulseRring {
    
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes addonifyPulseDot {

  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

@keyframes addonifySpinner {

  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}