
@use 'abstract/vars' as *;
@use 'abstract/mixins' as *;

//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');

@import 'base/elements';
@import 'base/typography';
@import 'base/forms';
@import 'base/buttons';

@import 'helpers/class';

@import 'components/options/index';
@import 'components/partials/hero';
@import 'components/partials/navigation';
@import 'components/partials/upsell-banner';
@import 'components/partials/quick-links';

@import 'layouts/page';
@import 'layouts/entry';
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/sidebar';
@import 'layouts/jumbo-box';
@import 'layouts/error';
@import 'layouts/recommended';
@import 'layouts/pro';

@import 'helpers/keyframes';