
/* -------------------------------------------------------------------------- 
	Border radius control.
-------------------------------------------------------------------------- */

#addonify-wishlist-app {

    .adfy-control[data_type="border-radius"] {

        @include flex();
        gap: 0;

        .input {
			
			padding-bottom: 5px;
			border-right: 1px solid var(--addonify_border_color);
			
			// Chrome, Safari, Edge, Opera
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {

				-webkit-appearance: none;
				margin: 0;
			}

			// Firefox
			input[type=number] {

				-moz-appearance: textfield;
			}

			input[type=number] {

				display: inline-flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				font-size: 13px;
				font-weight: normal;
				width: 60px;
				height: 45px;
				padding: 10px 10px;
				border-radius: 4px;
				border: 1px solid var(--addonify_border_color);
			}

			.direction {

				@include flex();
				justify-content: center;
				margin-top: 3px;
				color: #A1A1A1;
				fill: #A1A1A1;

				svg {

					display: inline-flex;
					width: 16px;
					height: 16px;
				}
			}

			&:first-child {

				input[type="number"] {

					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					border-right: none;
				}
			}

			&:nth-child(2) {

				input[type="number"] {

					border-radius: 0;
					border-left: none;
					border-right: none;
				}
			}

			&:nth-child(3) {

				input[type="number"] {

					border-radius: 0;
					border-left: none;
					border-right: none;
				}
			}

			&:last-child {

				border-right: none;

				input[type="number"] {

					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-left: none;
				}
			}
        }

        /**
        *
        * Minimal color picker.
        * Has no title and border.
        * 
        * @since: 2.0.0
        */

        &[data_size="minimal"] {

            .adfy-flex {

                border: none;
                padding: 0;
            }
        }
    }
}