
/* -------------------------------------------------------------------------- 
	Text control.
-------------------------------------------------------------------------- */

#addonify-wishlist-app {

    --input-width: 300px;
    --textarea-min-height: 200px;

    .adfy-option {

        // Text
        .el-input {

            .el-input__wrapper {

                min-width: var(--input-width);
            }
        }

        // Number 
        .el-input-number {

            .el-input {

                .el-input__wrapper {

                    min-width: auto;
                }
            }
        }

        // Text area
        .el-textarea {

            .el-textarea__inner {

                --text-color: var(--addonify_text_color);

                display: block;
                margin: 0;
                padding: 20px;
                width: 100%;
                min-width: calc( var(--input-width) + 100px );
                max-width: 100%;
                font-family: var(--addonify_base_font_family);
                font-size: 14px;
                line-height: 2em;
                font-weight: normal;
                height: var(--textarea-min-height);
                min-height: var(--textarea-min-height);
                resize: vertical;
                color: var(--text-color);
                border-radius: 10px;
            }
        }
    }
}