.adfy-loading {

    display: block;
    position: relative;
    margin: 50px 0;

    .pulse {

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 30px;
        height: 30px;
    
        &:before {

            content: '';
            position: relative;
            display: block;
            width: 300%;
            height: 300%;
            box-sizing: border-box;
            margin-left: -100%;
            margin-top: -100%;
            border-radius: 100%;
            background-color: #C5C5C5;
            animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        }
    
        &:after {

            content: '';
            position: absolute;
            left: 0; 
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-color: white;
            box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.01);
            animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
        }
    }
}