/* --------------------------------------------------------------------------
	#. Cart table
  -------------------------------------------------------------------------- */

.woocommerce-cart-form {

    .addonify_wishlist-cart-item-add-to-wishlist {

        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 5px;
        height: auto;
        padding: 10px 20px;
        border-radius: 4px;

        &.adfy-wishlist-hide {

            display: none;
        }
    }
}