/* -------------------------------------------------------------------------- 
	#. Wishlist page
  -------------------------------------------------------------------------- */

#addonify-wishlist-page-container  {

    position: relative;
    min-height: 150px;
    margin-bottom: 40px;

    #addonify-wishlist-table {

        table-layout: auto;
        margin-bottom: 40px;

        th {

            padding: 20px 15px;
        }

        td {

            padding: 15px;
        }

        td.price {

            font-weight: bold; 

            ins {

                color: red;
                background: transparent;
                background-color: transparent;
            }

            del {

                font-size: 80%;
                opacity: 0.9;
            }
        }

        td.remove {

            width: 50px;

            .adfy-wishlist-btn {

                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #9F9F9F;
                font-size: 20px;
                line-height: 1;
                font-weight: normal;
                padding: 0;
                margin: 0;
                width: auto;
                height: auto;
                box-shadow: none;
                border: none;
                background-color: transparent;

                &:hover {

                    color: black;
                    border: none;
                    box-shadow: none;
                    background-color: transparent;
                }
            }
        }

        td.actions {

            p.adfy-wishlist-btn {

                position: relative;
                display: block;
                margin: 0;
                padding: 0;

                .button,
                a.button {

                    display: inline-flex;
                    margin: 0;
                    padding: 10px 15px;
                    font-weight: normal;
                    text-decoration: none;
                    line-height: 1;

                    &:hover {

                        outline: none;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    #addonify-wishlist-page-toolbar {

        @include flex();
        align-items: center;
        justify-content: flex-end;
    }

    #addonify-wishlist_spinner {

        @include flex();
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 100;
        background-color: rgba(255, 255, 255, 1);
        @include transition_delay();

        svg {

            display: inline-flex;
            position: relative;
            color: #444444;
            width: 32px;
            height: 32px;
            animation: AddonifyWishlistSpin 0.8s infinite ease-in-out;
        }
    }

    /**
    *
    * Empty wishlist
    * 
    */

    #addonify-wishlist-empty {

        @include flex();
        align-items: center;
        gap: 5px;
    }
}


/* -------------------------------------------------------------------------- 
	#. Media Query
  -------------------------------------------------------------------------- */

@media ( max-width: 768px ) {

    #addonify-wishlist-page-container {

         #addonify-wishlist-table {

            thead {

                display: none;
            }

            tbody {

                tr {

                    @include flex();
                    position: relative;
                    flex-direction: column;
                    margin-bottom: 30px;
                    padding: 20px 20px 20px 90px;
                    border: 1px solid #EEEEEE;
                    border-radius: 5px;

                    td {

                        padding: 10px 0;
                        border: none;
                        border-bottom: 1px dotted #EEEEEE;

                        &:last-child {

                            padding-bottom: 0;
                            border-bottom: none
                        } 
                    }

                    td.remove {

                        position: absolute;
                        top: 15px;
                        left: auto;
                        right: 10px;
                        width: 30px;
                        padding: 0;
                        border: 0;
                    }

                    td.image {

                        position: absolute;
                        display: inline-flex;
                        left: 20px;
                        right: auto;
                        top: 30px;
                        border: 0;
                        padding: 0;
                        width: 55px;
                        overflow: hidden;

                        a {

                            display: inline-flex;

                            img {

                                display: inline-flex;
                                width: 55px;
                                object-fit: cover;
                                object-position: center;
                                border-radius: 2px;
                            }
                        }
                    }

                    td.name {

                        padding-right: 40px;
                    }

                    td.actions {

                        .adfy-wishlist-btn {

                            a {

                                height: auto;
                                padding: 13px 15px;
                            }
                        }
                    }

                    &:last-child {

                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}