/* --------------------------------------------------------------------------
	#. Wishlist modal
  -------------------------------------------------------------------------- */

.addonify-wishlist-modal-is-open {

    overflow: hidden;
}

#addonify-wishlist-modal-wrapper * {

    box-sizing: border-box;
    @include better_font_rendering();
}

#addonify-wishlist-modal-wrapper {

    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include visibility_hidden();
    @include transation_delay();
    background-color: var(--adfy_wishlist_popup_modal_overlay_bg_color);

    .addonify-wishlist-modal-body {

        @include flex();
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 350px;
        min-height: 350px;
        text-align: center;
        padding: 30px;
        margin: calc(( 100vh - 300px ) / 2 ) auto 0;
        border-radius: 5px;
        box-sizing: border-box;
        @include large_drop_shadow();
        background-color: var(--adfy_wishlist_popup_modal_bg_color);
        @include breakpoint(mobile) {

            width: 85vw;
            padding: 20px;
        }

        .adfy-wishlist-icon-entry {

            .adfy-wishlist-icon {

                @include flex();
                align-items: center;
                justify-content: center;
                font-size: 42px;
                color: var(--adfy_wishlist_popup_modal_icon_color);
                animation: AddonifyWishlistPulse 0.8s infinite linear;
            }
        }

        #addonify-wishlist-modal-response {

            .response-text {

                margin: 0;
                padding: 0;
                color: var(--adfy_wishlist_popup_modal_text_color);
            }
        }

        .addonify-wishlist-modal-btns {

            @include grid();
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;

            .adfy-wishlist-btn,
            .adfy-wishlist-btn-link {

                @include flex();
                align-items: center;
                justify-content: center;
                font-size: 15px;
                line-height: 1;
                font-weight: normal;
                width: 100%;
                margin: 0;
                padding: 15px;
                height: auto;
                border-radius: 3px;
                color: var(--adfy_wishlist_popup_modal_btn_text_color);
                background-color: var(--adfy_wishlist_popup_modal_btn_bg_color);
                @include transation_delay();

                &:hover {

                    color: var(--adfy_wishlist_popup_modal_btn_text_color_hover);
                    background-color: var(--adfy_wishlist_popup_modal_btn_bg_color_hover);
                }
            }

            .adfy-wishlist-btn-link {

                text-decoration: none;

                &:hover {

                    text-decoration: none;
                }

                &:focus {

                    outline: none;
                    text-decoration: none;
                }
            }
        }
    }
}

.addonify-wishlist-modal-is-open #addonify-wishlist-modal-wrapper {

    z-index: var(--adfy_wishlist_popup_modal_zindex);
    @include visibility_visible();
}

// Loading state.

#addonify-wishlist-modal-wrapper.loading {

    .addonify-wishlist-modal-body {

        position: relative;
        @include flex();
        align-items: center;
        justify-content: center;

        * {

            display: none;
            @include visibility_hidden();
        }

        &::before {

            content: "";
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: white url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.364 5.636L16.95 7.05A7 7 0 1 0 19 12h2a9 9 0 1 1-2.636-6.364z'/%3E%3C/svg%3E") no-repeat 50%;
            animation: AddonifyWishlistSpin 0.6s infinite linear;
        }
    }
}

// Required Login.

#addonify-wishlist-modal-wrapper.require-login {

    form {

        margin: 0;
        padding: 0;
    }
}
