/* -------------------------------------------------------------------------- 
	#. Wishlist page
  -------------------------------------------------------------------------- */

#addonify-wishlist-page-container  {

    #addonify-wishlist-table {

        table-layout: auto;

        th {

            padding: 20px 15px;
        }

        td {

            padding: 15px;
        }

        td.price {

            font-weight: bold; 

            ins {

                color: red;
                background: transparent;
                background-color: transparent;
            }

            del {

                font-size: 80%;
                opacity: 0.9;
            }
        }

        td.remove {

            width: 50px;

            .adfy-wishlist-btn {

                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #9F9F9F;
                font-size: 20px;
                line-height: 1;
                font-weight: normal;
                padding: 0;
                margin: 0;
                width: auto;
                height: auto;
                box-shadow: none;
                border: none;
                background-color: transparent;

                &:hover {

                    color: black;
                    border: none;
                    box-shadow: none;
                    background-color: transparent;
                }
            }
        }
    }
}
