/* -------------------------------------------------------------------------- 
	#. Wishlist sidebar panel
  -------------------------------------------------------------------------- */

#addonify-wishlist-sticky-sidebar-container {

    @include flex();
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: 0;
    padding: 30px 20px 20px 20px;
    z-index: var(--adfy_wishlist_sidebar_zindex);
    background-color: var(--adfy_wishlist_sidebar_modal_bg_color);
    @include large_drop_shadow();
    @include transation_delay();
    @include visibility_visible();
    @include breakpoint(mobile) {

        max-width: 90vw;
    }

    .addonify-wishlist-ssc-body {

        flex: 1 1 auto;
        @include flex();
        flex-direction: column;

        .addonify-wishlist-scs-header {

            flex: 0 0 auto;
            @include flex();
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--adfy_wishlist_border_color);

            .adfy-wishlist-sidebar-title {

                padding: 0;
                margin: 0;
                font-size: 18px;
            }

            #close-adfy-wishlist-sidebar-button {

                fill: var(--adfy_wishlist_sidebar_modal_close_icon_color);
                color: var(--adfy_wishlist_sidebar_modal_close_icon_color);
                padding: 0;
                margin: 0;
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 100%;
                box-shadow: none;
                text-decoration: none;
                background: transparent;
                background-color: transparent;
                transition: all 0.5s ease;

                svg {

                    height: 22px;
                    width: 22px;
                }

                &:hover {

                    fill: var(--adfy_wishlist_sidebar_modal_close_icon_color_hover);
                    color: var(--adfy_wishlist_sidebar_modal_close_icon_color_hover);
                    box-shadow: none;
                    background: transparent;
                    background-color: transparent;
                    transform: none;
                    text-decoration: none;
                }
            }   
        }

        #addonify-wishlist-sidebar-form {

            flex: 1 1 auto;
            position: relative;
            padding: 0;
            margin: 0;
            overflow: hidden;
            overflow-y: auto;

            .adfy-wishlist-sidebar-items-entry {

                display: block;
                position: absolute;
                list-style: none;
                margin: 0;
                padding: 0;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: auto;

                li {

                    display: block;
                    margin-bottom: 30px;

                    .adfy-wishlist-row {

                        @include flex();
                        gap: 15px;
                        align-items: center;

                        .image-column {

                            width: 82px;
                            overflow: hidden;

                            .adfy-wishlist-woo-image {

                                a {

                                    display: block;
                                }
                            }
                        }

                        .title-price-column {

                            flex: 1;

                            .adfy-wishlist-woo-title {

                                > a {

                                    color: var(--adfy_wishlist_text_color);

                                    &:hover {

                                        color: var(--adfy_wishlist_link_color);
                                    }
                                }
                            }

                            .adfy-wishlist-woo-price {

                                margin-top: 5px;
                                font-weight: bold;

                                del {

                                    font-size: 80%;
                                    opacity: 0.9;
                                }

                                ins {

                                    background: transparent;
                                    background-color: transparent;
                                }
                            }
                        }
                    }

                    .adfy-wishlist-woo-action {

                        .adfy-wishlist-row {

                            @include flex();
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 20px;

                            .cart-column {

                                > p {

                                    margin: 0;
                                }
                            }

                            .remove-item-column {

                                .adfy-wishlist-btn {

                                    font-size: 20px;
                                    font-weight: normal;
                                    color: var(--adfy_wishlist_sidebar_modal_product_remove_from_wishlist_icon_color);
                                    padding: 0;
                                    margin: 0;
                                    height: auto;
                                    box-shadow: none;
                                    border: none;
                                    background-color: transparent;

                                    &:hover {

                                        color: black;
                                        box-shadow: none;
                                        border: none;
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                    }

                    &:last-child {

                        margin-bottom: 0;
                    }
                }

                li.loading {

                    position: relative;

                    &::after,
                    &::before {

                        content: "";
                        @include flex();
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 2;
                    }

                    &::before {

                        content: "";
                        background: white url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.364 5.636L16.95 7.05A7 7 0 1 0 19 12h2a9 9 0 1 1-2.636-6.364z'/%3E%3C/svg%3E") no-repeat 50%;
                        top: 50%;
                        left: 50%;
                        right: auto;
                        bottom: auto;
                        height: 40px;
                        width: 40px;
                        border-radius: 100%;
                        transform: translate(-50%, -50%);
                        animation: AddonifyWishlistSpin 0.7s cubic-bezier(0.37, 0.35, 0.5, 0.44) infinite;
                    }

                    &::after {

                        content: "";
                        z-index: 1;
                        background: rgba(255, 255, 255, 0.9);
                    }
                }
            }
        }

        #addonify-wishlist-sidebar-form.ps--active-y {

            .adfy-wishlist-sidebar-items-entry {

                right: 20px;
            }
        }
    }

    .addonify-wishlist-ssc-footer {

        @include flex();
        align-items: center;
        justify-content: center;

        .addonify-wishlist-goto-wishlist-btn {

            @include flex();
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 100%;
            font-size: 15px;
            line-height: 1;
            font-weight: normal;
            margin: 0;
            padding: 15px 20px;
            fill: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color);
            color: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color);
            border: 2px solid var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color);
            background: transparent;
            background-color: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_bg_color);
            border-radius: 30px;
            box-shadow: none;
            text-decoration: none;
            @include transation_delay();

            .icon {

                line-height: 1;

                svg {

                    width: 20px;
                    height: 20px;
                }
            }

            &:hover {

                fill: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color_hover);
                color: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color_hover);
                border-color: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color_hover);
                box-shadow: none;
                text-decoration: none;
                background: transparent;
                background-color: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_bg_color_hover);
            }
        }
    }

    .notice {

        @include flex();
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        letter-spacing: 0;
        margin: 5px 0;
        padding: 12px 15px;
        border-radius: 3px;
        color: var(--adfy_wishlist_sidebar_modal_notification_text_color);
        fill: var(--adfy_wishlist_sidebar_modal_notification_text_color);
        background-color: var(--adfy_wishlist_sidebar_modal_notification_bg_color);
        animation: AddonifyWishlistFadeInUp 500ms linear;
        @include mild_drop_shadow();

        svg {

            width: 16px;
            height: 16px;
        }
    }
}

#addonify-wishlist-show-sidebar-btn {

    @include flex();
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: fixed;
    left: auto;
    right: -40px;
    top: 50vh;
    padding: 10px;
    width: 120px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    color: var(--adfy_wishlist_sidebar_modal_toggle_btn_label_color);
    font-size: 11px;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    transform: rotate(90deg);
    background: transparent;
    background-color: var(--adfy_wishlist_sidebar_modal_toggle_btn_bg_color);
    @include transation_delay();

    .button-icon,
    .button-label {

        display: inline-flex;
        font-weight: normal;
    }

    .button-label {

        transform: rotate(180deg);
    }

    .button-icon {
        
        font-size: 18px;
        transform: rotate(-90deg);
    }

    &:hover {

        color: var(--adfy_wishlist_sidebar_modal_toggle_btn_label_color_hover);
        text-decoration: none;
    }

    &:focus {

        outline: none;
    }
}

#addonify-wishlist-sticky-sidebar-overlay {

    @include flex();
    align-items: stretch;
    justify-content: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(238, 238, 238, 0.95);
    @include transation_delay();
}

/* -------------------------------------------------------------------------- 
	#. Visibility & Alignment
  -------------------------------------------------------------------------- */

.addonify-wishlist-sticky-sidebar-is-visible {

    overflow: hidden;
}

.addonify-wishlist-sticky-sidebar-is-visible #addonify-wishlist-sticky-sidebar-overlay {

    visibility: visible;
    opacity: 1;
    z-index: var(--adfy_wishlist_sidebar_overlay_zindex);
}

#addonify-wishlist-show-sidebar-btn[class*="align-left"] {

    right: auto;
    left: -40px;
}

#addonify-wishlist-sticky-sidebar-container[class*="align-left"] {

    left: -100vw;
    right: auto;
}

#addonify-wishlist-sticky-sidebar-container[class*="align-right"] {

    right: -100vw;
    left: auto;
}

.addonify-wishlist-sticky-sidebar-is-visible #addonify-wishlist-sticky-sidebar-container[class*="align-left"] {

    right: auto;
    left: 0;
}

.addonify-wishlist-sticky-sidebar-is-visible #addonify-wishlist-sticky-sidebar-container[class*="align-right"] {

    left: auto;
    right: 0;
}
