/* --------------------------------------------------------------------------
	#. Hide/show
  -------------------------------------------------------------------------- */

.adfy-wishlist-hide {

    display: none;
}

.adfy-wishlist-show {

    display: block;
}

/* --------------------------------------------------------------------------
	#. Visibility
  -------------------------------------------------------------------------- */

.adfy-wishlist-visibility-hidden {

    @include visibility_hidden();
}

.adfy-wishlist-visibility-visible {

    @include visibility_visible();
}

/* --------------------------------------------------------------------------
	#. Spinner
  -------------------------------------------------------------------------- */

// Used in sidebar.
.adfy-wishlist-spinner {

    position: relative;
}
