/* -------------------------------------------------------------------------- 
	Typography setup
  -------------------------------------------------------------------------- */

#addonify-wishlist-app {
    
    color: var(--addonify_base_text_color);
    font-family: var(--addonify_base_font_family);
    font-weight: normal;
    line-height: 1.6;
    @include better_font_rendering();

    * {

        @include better_font_rendering();
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        
        display: block;
        margin: 30px 0 20px 0;
        color: var(--addonify_base_text_color);
        font-family: var(--addonify_heading_font_family);
        font-weight: var(--addonify_heading_font_weight);
        line-height: 1.3;
        text-transform: none;
    }

    p {

        display: block;
        font-family: var(--addonify_base_font_family);
        font-size: var(--addonify_base_font_size);
        font-weight: normal;
        line-height: 1.6;
        text-transform: none;
        margin: 0 0 20px 0;
    }

    em {

        font-style: italic;
        font-family: cursive, sans-serif;
    }

    strong {

        font-weight: var(--addonify_heading_font_weight);
    }
}