/* --------------------------------------------------------------------------
	#. Wishlist modal
  -------------------------------------------------------------------------- */

.adfy-wl-modal-content-is-open {

    overflow: hidden;
}

#adfy-wl-modal-content-wrapper {

    box-sizing: border-box;
    @include better_font_rendering();
}

#adfy-wl-modal-content-wrapper {

    display: none;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease;
    @include visibility_hidden();
    background-color: var(--adfy_wishlist_popup_modal_overlay_bg_color);
    z-index: 1000;

    .adfy-wl-modal-content {

        position: relative;
        @include flex();
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 400px;
        min-height: 350px;
        text-align: center;
        padding: 30px;
        border-radius: 5px;
        box-sizing: border-box;
        @include large_drop_shadow();
        background-color: var(--adfy_wishlist_popup_modal_bg_color);
        @include breakpoint(mobile) {

            width: 85vw;
            padding: 20px;
        }

        .adfy-wl-modal-close {

            position: absolute;
            top: 15px;
            left: auto;
            right: 15px;
            z-index: 1;

            #addonify-wishlist-close-modal-btn {

                display: inline-flex;
                align-items: center;
                justify-content: center;
                fill: var(--adfy_wishlist_popup_modal_close_btn_icon_color);
                color: var(--adfy_wishlist_popup_modal_close_btn_icon_color);

                .addonify-wishlist-icon {

                    display: inline-flex;
                    line-height: 1;
                    width: 16px;
                    height: 16px;
                }

                &:hover {

                    fill: var(--adfy_wishlist_popup_modal_close_btn_icon_color_hover);
                    color: var(--adfy_wishlist_popup_modal_close_btn_icon_color_hover);
                }
            }
        }

        .adfy-wl-modal-body {

            @include flex();
            flex-direction: column;
            gap: 20px;

            .adfy-wl-modal-content-icon {

                @include flex();
                align-items: center;
                justify-content: center;
                padding: 0;
                margin: 0 0 20px 0;

                .addonify-wishlist-icon {

                    display: inline-flex;
                    height: 62px;
                    width: 62px;
                    fill: var(--adfy_wishlist_popup_modal_icon_color);
                    color: var(--adfy_wishlist_popup_modal_icon_color);
                    //animation: AddonifyWishlistPulse 0.8s infinite linear;
                }
            }

            #adfy-wl-modal-content-response {

                .response-text {

                    margin: 0;
                    padding: 0;
                    color: var(--adfy_wishlist_popup_modal_text_color);
                }
            }

            .adfy-wl-modal-content-btns {

                @include flex();
                gap: 20px;
                flex-direction: column;

                .adfy-wl-modal-btn,
                p.adfy-wl-add-to-cart .button {

                    @include flex();
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    line-height: 1;
                    font-weight: normal;
                    width: 100%;
                    margin: 0;
                    padding: 18px 20px;
                    height: auto;
                    border-radius: 30px;
                    color: var(--adfy_wishlist_popup_modal_btn_text_color);
                    background-color: var(--adfy_wishlist_popup_modal_btn_bg_color);
                    transition: all 0.5s ease;

                    &:hover {

                        color: var(--adfy_wishlist_popup_modal_btn_text_color_hover);
                        background-color: var(--adfy_wishlist_popup_modal_btn_bg_color_hover);
                    }
                }

                .adfy-wl-modal-btn,
                p.adfy-wl-add-to-cart .button {

                    text-decoration: none;

                    &:hover {

                        text-decoration: none;
                    }

                    &:focus {

                        outline: none;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

body.adfy-wl-modal-content-is-open #adfy-wl-modal-content-wrapper {
    display: grid;
}

.adfy-wl-modal-content-is-open #adfy-wl-modal-content-wrapper {

    z-index: var(--adfy_wishlist_popup_modal_zindex);
    backdrop-filter: blur( 5px );
    @include visibility_visible();
}

/**
*
* Loading state.
*
*/
#adfy-wl-modal-content-wrapper.loading {

    .adfy-wl-modal-content {

        position: relative;
        @include flex();
        align-items: center;
        justify-content: center;

        * {

            display: none;
            @include visibility_hidden();
        }

        &::before {

            content: "";
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background: white url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M18.364 5.636L16.95 7.05A7 7 0 1 0 19 12h2a9 9 0 1 1-2.636-6.364z'/%3E%3C/svg%3E") no-repeat 50%;
            animation: AddonifyWishlistSpin 0.6s infinite linear;
        }
    }
}

/**
*
* Require login
*
*/
#adfy-wl-modal-content-wrapper.require-login {

    form {

        margin: 0;
        padding: 0;
    }
}

/**
*
* Modal icon colors.
*
*/
#adfy-wl-modal-content-wrapper {

    &.adfy-wl-modal-success {

        .adfy-wl-modal-content  {

            .adfy-wl-modal-content-icon {

                .adfy-wishlist-icon:not([class*="icon-heart-"]) {

                    fill: var(--adfy_wishlist_success_icon_color);
                    color: var(--adfy_wishlist_success_icon_color);
                }
            }
        }
    }

    &.adfy-wl-modal-info {

        .adfy-wl-modal-content  {

            .adfy-wl-modal-content-icon {

                .adfy-wishlist-icon {

                    fill: var(--adfy_wishlist_info_icon_color);
                    color: var(--adfy_wishlist_info_icon_color);
                }
            }
        }
    }

    &.adfy-warning-modal {

        .adfy-wl-modal-content  {

            .adfy-wl-modal-content-icon {

                .adfy-wishlist-icon {

                    fill: var(--adfy_wishlist_warning_icon_color);
                    color: var(--adfy_wishlist_warning_icon_color);
                }
            }
        }
    }

    &.adfy-wl-modal-error {

         .adfy-wl-modal-content  {

            .adfy-wl-modal-content-icon {

                .adfy-wishlist-icon {

                    fill: var(--adfy_wishlist_error_icon_color);
                    color: var(--adfy_wishlist_error_icon_color);
                }
            }
        }
    }
}
