/* -------------------------------------------------------------------------- 
	#. Wishlist sidebar panel
  -------------------------------------------------------------------------- */

#addonify-wishlist-sticky-sidebar-container {

    --sidebar-zindex: calc( var(--adfy_wishlist_sidebar_overlay_zindex) + 5 );

    @include flex();
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: 0;
    padding: 30px 20px 20px 20px;
    z-index: var(--sidebar-zindex);
    background-color: var(--adfy_wishlist_sidebar_modal_bg_color);
    @include large_drop_shadow();
    @include transition_delay();
    @include visibility_visible();
    @include breakpoint(mobile) {

        gap: 30px;
        max-width: 90vw;
    }

    .addonify-wishlist-ssc-body {

        flex: 1 1 auto;
        @include flex();
        flex-direction: column;

        .addonify-wishlist-scs-header {

            flex: 0 0 auto;
            @include flex();
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--adfy_wishlist_border_color);

            .adfy-wishlist-sidebar-title {

                padding: 0;
                margin: 0;
                font-size: 18px;
                color: var(--adfy_wishlist_sidebar_modal_title_color);
            }

            #close-adfy-wishlist-sidebar-button {

                fill: var(--adfy_wishlist_sidebar_modal_close_icon_color);
                color: var(--adfy_wishlist_sidebar_modal_close_icon_color);
                padding: 0;
                margin: 0;
                width: auto;
                height: auto;
                border: none;
                line-height: 1;
                border-radius: 100%;
                box-shadow: none;
                text-decoration: none;
                background: transparent;
                background-color: transparent;
                transition: all 0.5s ease;

                svg {

                    height: 24px;
                    width: 24px;
                }

                &:hover {

                    fill: var(--adfy_wishlist_sidebar_modal_close_icon_color_hover);
                    color: var(--adfy_wishlist_sidebar_modal_close_icon_color_hover);
                    box-shadow: none;
                    background: transparent;
                    background-color: transparent;
                    transform: none;
                    text-decoration: none;
                }
            }   
        }

        #addonify-wishlist-sidebar-form {

            flex: 1 1 auto;
            position: relative;
            padding: 0;
            margin: 0;
            overflow: hidden;
            overflow-y: auto;

            .adfy-wishlist-sidebar-items-entry {

                display: block;
                position: absolute;
                margin: 0;
                padding: 0;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: auto;
                list-style: none;

                li {

                    display: block;
                    padding: 0;
                    margin: 0 0 30px 0;

                    .adfy-wishlist-row {

                        @include flex();
                        gap: 15px;
                        align-items: center;

                        .image-column {

                            width: 82px;
                            overflow: hidden;

                            .adfy-wishlist-woo-image {

                                a {

                                    display: block;
                                }
                            }
                        }

                        .title-price-column {

                            flex: 1;

                            .adfy-wishlist-woo-title {

                                > a {

                                    color: var(--adfy_wishlist_sidebar_modal_product_title_color);

                                    &:hover {

                                        color: var(--adfy_wishlist_sidebar_modal_product_title_color_hover);
                                    }
                                }
                            }

                            .adfy-wishlist-woo-price {

                                margin-top: 5px;
                                font-weight: bold;
                                color: var(--adfy_wishlist_sidebar_modal_product_regular_price_color);

                                del {

                                    color: var(--adfy_wishlist_sidebar_modal_product_regular_price_color);
                                    font-size: 90%;
                                    opacity: 0.8;
                                    text-decoration: line-through;
                                }

                                ins {

                                    color: var(--adfy_wishlist_sidebar_modal_product_sale_price_color);
                                    background: transparent;
                                    background-color: transparent;
                                    text-decoration: none;
                                }
                            }

                            .adfy-wishlist-woo-stock {

                                display: block;
                                margin-top: 2px;
                                font-weight: normal;
                                font-size: 14px;

                                .in-stock {

                                    color: var(--adfy_wishlist_sidebar_modal_in_stock_text_color);
                                }

                                .out-of-stock {

                                    color: var(--adfy_wishlist_sidebar_modal_out_of_stock_text_color);
                                }
                            }
                        }
                    }

                    .adfy-wishlist-woo-action {

                        .adfy-wishlist-row {

                            @include flex();
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 20px;

                            .cart-column {

                                > p {

                                    margin: 0;
                                }

                                .addonify-wishlist-add-to-cart {

                                    @include flex();
                                    flex-direction: row;
                                    gap: 10px;
                                    justify-content: flex-start;

                                    a.button,
                                    a.added_to_cart  {

                                        margin: 0;
                                        color: var(--adfy_wishlist_sidebar_modal_product_add_to_cart_label_color);
                                        background: transparent;
                                        background-color: var(--adfy_wishlist_sidebar_modal_product_add_to_cart_bg_color);

                                        &:hover {

                                            color: var(--adfy_wishlist_sidebar_modal_product_add_to_cart_label_color_hover);
                                            background: transparent;
                                            background-color: var(--adfy_wishlist_sidebar_modal_product_add_to_cart_bg_color_hover);
                                        }
                                    }
                                }
                            }

                            .remove-item-column {

                                .adfy-wishlist-btn {

                                    font-size: 20px;
                                    font-weight: normal;
                                    color: var(--adfy_wishlist_sidebar_modal_product_remove_from_wishlist_icon_color);
                                    fill: var(--adfy_wishlist_sidebar_modal_product_remove_from_wishlist_icon_color);
                                    padding: 0;
                                    margin: 0;
                                    height: auto;
                                    box-shadow: none;
                                    border: none;
                                    background-color: transparent;

                                    &:hover {

                                        color: var(--adfy_wishlist_sidebar_modal_product_remove_from_wishlist_icon_color_hover);
                                        box-shadow: none;
                                        border: none;
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                    }

                    &:last-child {

                        margin-bottom: 0;
                    }
                }
            }

            #addonify-empty-wishlist-para {

                color: var(--adfy_wishlist_sidebar_modal_empty_text_color);
            }
        }

        #addonify-wishlist-sidebar-form.ps--active-y {

            .adfy-wishlist-sidebar-items-entry {

                right: 20px;
            }
        }
    }

    .addonify-wishlist-ssc-footer {

        @include flex();
        align-items: center;
        justify-content: center;

        .addonify-wishlist-goto-wishlist-btn {

            @include flex();
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 100%;
            font-size: 15px;
            line-height: 1;
            font-weight: normal;
            margin: 0;
            padding: 15px 20px;
            fill: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color);
            color: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color);
            border: 2px solid var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color);
            background: transparent;
            background-color: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_bg_color);
            border-radius: 30px;
            box-shadow: none;
            text-decoration: none;
            @include transition_delay();

            .icon {

                line-height: 1;

                svg {

                    width: 20px;
                    height: 20px;
                }
            }

            &:hover {

                fill: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color_hover);
                color: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color_hover);
                border-color: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_label_color_hover);
                box-shadow: none;
                text-decoration: none;
                background: transparent;
                background-color: var(--adfy_wishlist_sidebar_modal_view_wishlist_btn_bg_color_hover);
            }
        }
    }

    /**
    *
    * Notice
    * 
    */

    #addonify-wishlist-undo-deleted-product  {

        #addonify-wishlist-undo-deleted-product-text {

            display: block;
            padding: 15px 20px;
            font-size: calc( var(--adfy_wishlist_product_removed_notice_font_size) - 1px );

            #addonify-wishlist-undo-deleted-product-link {

                padding: 4px 10px;
            }
        }
    }

    .notice {

        @include grid();
        grid-template-columns: 16px auto;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.4;
        letter-spacing: 0;
        margin: 5px 0;
        padding: 15px;
        border-radius: 3px;
        color: var(--adfy_wishlist_sidebar_modal_notification_text_color);
        fill: var(--adfy_wishlist_sidebar_modal_notification_text_color);
        background-color: var(--adfy_wishlist_sidebar_modal_notification_bg_color);
        animation: AddonifyWishlistFadeInUp 500ms linear;
        box-shadow: 0 1px 2px rgba( 0, 0, 0, 0.1 );

        svg {

            display: inline-flex;
            width: 16px;
            height: 16px;
        }
    }
}

#addonify-wishlist-show-sidebar-btn {

    --zindex: calc( var(--adfy_wishlist_popup_modal_zindex) - 1 );

    @include flex();
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: fixed;
    left: auto;
    right: calc(var(--adfy_wishlist_sidebar_btn_position_offset) * 1px);
    top: 50vh;
    padding: 10px;
    width: auto;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    fill: var(--adfy_wishlist_sidebar_modal_toggle_btn_label_color);
    color: var(--adfy_wishlist_sidebar_modal_toggle_btn_label_color);
    font-size: 11px;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    transform: rotate(90deg);
    background: transparent;
    background-color: var(--adfy_wishlist_sidebar_modal_toggle_btn_bg_color);
    z-index: var(--zindex);
    @include transition_delay();

    .button-icon,
    .button-label {

        display: inline-flex;
        font-weight: normal;
    }

    .button-label {

        transform: rotate(180deg);
    }

    .button-icon {
        
        transform: rotate(-90deg);

        svg {

            display: inline-flex;
            width: 20px;
            height: 20px;
        }
    }

    &.hidden {

        display: none;
    }

    &:hover {

        fill: var(--adfy_wishlist_sidebar_modal_toggle_btn_label_color_hover);
        color: var(--adfy_wishlist_sidebar_modal_toggle_btn_label_color_hover);
        background-color: var(--adfy_wishlist_sidebar_modal_toggle_btn_bg_color_hover);
        text-decoration: none;
    }

    &:focus {

        outline: none;
    }
}

#addonify-wishlist-sticky-sidebar-overlay {

    @include flex();
    align-items: stretch;
    justify-content: stretch;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: var(--adfy_wishlist_sidebar_modal_overlay_bg_color);
    @include transition_delay();
}

#addonify-wishlist-sticky-sidebar-container #addonify-wishlist_spinner {

    @include flex();
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    background-color: var(--adfy_wishlist_sidebar_modal_spinner_bg_color);
    @include transition_delay();

    svg {

        display: inline-flex;
        position: relative;
        color: var(--adfy_wishlist_sidebar_modal_spinner_icon_color);
        width: 24px;
        height: 24px;
        animation: AddonifyWishlistSpin 0.8s infinite ease-in-out;
    }
}

/* -------------------------------------------------------------------------- 
	#. Visibility & Alignment
  -------------------------------------------------------------------------- */

.addonify-wishlist-sticky-sidebar-is-visible {

    overflow: hidden;

    #addonify-wishlist-sticky-sidebar-overlay {

        visibility: visible;
        opacity: 1;
        z-index: var(--adfy_wishlist_sidebar_overlay_zindex);
    }
}

#addonify-wishlist-show-sidebar-btn[class*="align-left"] {

    right: auto;
    left: calc(var(--adfy_wishlist_sidebar_btn_position_offset) * 1px);
}

#addonify-wishlist-sticky-sidebar-container {

    &[class*="align-left"]  {

        left: -100vw;
        right: auto;
    }

    &[class*="align-right"] {

        right: -100vw;
        left: auto;
    }
}

.addonify-wishlist-sticky-sidebar-is-visible {

    #addonify-wishlist-sticky-sidebar-container {

        &[class*="align-left"]  {

            left: 0;
            right: auto;
        }

        &[class*="align-right"] {

            left: auto;
            right: 0;
        }        
    }
}

