
/* -------------------------------------------------------------------------- 
	Options boxes
-------------------------------------------------------------------------- */

.adfy-option-boxes {

    @include flex();
    flex-direction: column;
    gap: 30px;

    .adfy-option-box {

        &:last-child {

            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

.adfy-option-box {

    @include grid();
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    padding-bottom: 30px;
    border-bottom: 1px dashed #D9D9D9;

    .column {

        &.column-left {

            .option-label {

                @include flex();
                align-items: center;
                gap: 10px;
                margin: 0 !important;

                .icon {

                    display: inline-flex;
                    align-items: center;
                    cursor: help;
                    fill: var(--addonify_tooltip_icon_color);
                    color: var(--addonify_tooltip_icon_color);
                    @include transition();
                }
            }
        }

        &.column-right {

            @include flex();
            justify-content: flex-end;
        }
    }


    /**
    *
    * If option needs full width.
    * 
    * @since: 2.0.0
    */

     &[data_width="full"] {

        position: relative;
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 20px;

        .column {

            &.column-right {

                position: relative;
                display: block;
                width: 100%;
                justify-content: flex-start;
                padding: 30px;
                border: 1px solid var(--addonify_border_color);
                border-radius: 10px;

                &::before {

                    background: white;
                    border-left: 1px solid var(--addonify_border_color);
                    border-top: 1px solid var(--addonify_border_color);
                    content: "";
                    display: inline-flex;
                    height: 16px;
                    left: 40px;
                    position: absolute;
                    right: auto;
                    top: -10px;
                    transform: rotate(45deg);
                    width: 16px;
                    z-index: 5;
                }
            }
        }
    }
}