$bck_color: rgb(41, 42, 48);
$padding: 15px;
$thumbnail_height : 48px;


// icofonts ----------------------------------

@font-face {
    font-family: 'addonify';
    src:  url('../../fonts/addonify.eot?qz496t');
    src:  url('../../fonts/addonify.eot?qz496t#iefix') format('embedded-opentype'),
      url('../../fonts/addonify.ttf?qz496t') format('truetype'),
      url('../../fonts/addonify.woff?qz496t') format('woff'),
      url('../../fonts/addonify.svg?qz496t#addonify') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="addonify_icon-"], [class*=" addonify_icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .addonify_icon-heart-outline:before {
    content: "\e900";
    font-family: 'addonify';
    margin-right: 8px;
  }
  .addonify_icon-heart:before {
    content: "\e901";
    font-family: 'addonify';
    margin-right: 8px;
  }
  

// end icofonts -------------------------------


.addonify-overlay-buttons{
    position: relative;

    .addonify-overlay-btn-wrapper{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #1010101a;
        opacity: 0;
        transition: 0.4s;

        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.hidden{
    display: none;
}


.addonify-add-to-wishlist-btn {
    button{
        cursor: pointer;
        display: inline-block;
        color: #96588a;
        
        &:hover{
            background-color: transparent;

            &:before{
                content: "\e901";
            }
        }
    }
    
    button:not(.addonify-overlay-btn){
        background-color: transparent;
    }

    button.added-to-wishlist{
        cursor: inherit !important;
    }

    button[disabled]{
        opacity: 1 !important;
    }

    
    .before-add-to-cart{
        margin-bottom: 1em;        
    }

    .after-add-to-cart{
        margin-top: 1em;        
    }

    .show-label.show-icon{
        background-position: 0 12px;
        padding-left: 25px;
    }

}


#addonify-wishlist-modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background: rgba( 0, 0, 0, 0.4 );
    display: none;

    .addonify-wishlist-modal-body{
        width: 350px;
        height: 300px;
        background: #fff;
        box-sizing: border-box;
        margin: calc( ( 100vh - 300px) / 2 ) auto 0;
        padding: 40px;
    }

    #addonify-wishlist-modal-response{
        text-align: center;
        height: 105px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .addonify-wishlist-modal-btns button{
        width: 100%;
        margin-top: 10px;
    }

    &.loading .addonify-wishlist-modal-body{

        *{
            display: none !important;
        }

        background: #fff url(../../images/loading.gif) no-repeat center;
    }

    &.require-login {

        #addonify-wishlist-modal-response{
            height: 100%;
        }

        .addonify-wishlist-modal-btns{
            display: none;
        }
    }
    
}

body.addonify-wishlist-modal-is-open{
    overflow: hidden;

    #addonify-wishlist-modal-wrapper{
        display: block;
    }
}


// sticky sidebar / side wishlist

#addonify-wishlist-show-sidebar-btn{
    position: fixed;
    right: 0;
    top: 300px;
    z-index: 999999;

    &.addonify-align-left{
        left: 0;
        right: inherit;
    }
}

#addonify-wishlist-sticky-sidebar-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #00000025;
    z-index: 99999;
    display: none;
    
    .addonify-wishlist-ssc-body{
        padding: 20px;
        width: 300px;
        background: #fff;
        box-shadow: 0 0 6px #00000042;
        overflow-y:auto;
        height: 100%;
        float: right;

        ul, li{
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li{
            margin-bottom: 40px;
        }

        li:last-child{
            margin-bottom: 80px;
        }

        
    }


    .addonify-wishlist-ssc-footer{
        position: fixed;
        right: 0;
        bottom: 0;
        width: 300px;

        a{
            display: block;
            color: #fff;
            background: #000;
            padding: 10px 0;
            text-align: center;
        }
    }

    &.addonify-align-left {
        .addonify-wishlist-ssc-body{
            float: left;
        }

        .addonify-wishlist-ssc-footer{
            left: 0;
            right: inherit;
        }
    }
}

body.addonify-wishlist-sticky-sidebar-is-visible{

    overflow: hidden;

    #addonify-wishlist-show-sidebar-btn{
        right: 300px;

        &.addonify-align-left{
            left: 300px;
            right: inherit;
        }
    }

    #addonify-wishlist-sticky-sidebar-container{
        display: block;
    }
}


// wishlist page
#addonify-wishlist-container{

    ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
        *{
            margin: 0;
        }
    }

    .addonify-wishlist-items-heading{
        background: #efefef;
        padding: 20px 0;
    }

    .addonify-wishlist-items-package{
        padding: 10px 0;
        background: #fbfbfb;
    }

    li{
        display: inline-block;
    }

    li.checkbox{
        width: 45px;
    }

    li.remove{
        width: 65px;
    }

    li.name{
        width: 174px;
    }
    
    li.price{
        width: 85px;
    }

    li.date{
        width: 90px;
    }

    li.stock{
        width: 90px;
    }

    li.cart{
        width:125px;
    }
    
    li.image{
        width: 90px;
        img{
            max-width: 75px;
            height: auto;                
        }
    }


    .addonify-wishlist-footer-actions{
        overflow: hidden;
        margin: 20px 0 0;
        padding: 0 15px;


        .addonify-wfa-packets{
            float: left;
            width: 50%;
        }

        select{
            height: 45px;
        }

        .addonify-wfa-packets.go-right{
            text-align: right;
        }
    }
    
}
