/* --------------------------------------------------------------------------
	#. Button General
  -------------------------------------------------------------------------- */
.adfy-wl-btn,
.adfy-wl-btn {

    fill: var(--adfy_wishlist_wishlist_btn_text_color);
    color: var(--adfy_wishlist_wishlist_btn_text_color);
    background: transparent;
    background-color: var(--adfy_wishlist_wishlist_btn_bg_color);
    transition: all 0.5s ease;

    &:hover {

        outline: none;
        fill: var(--adfy_wishlist_wishlist_btn_text_color_hover);
        color: var(--adfy_wishlist_wishlist_btn_text_color_hover);
        background: transparent;
        background-color: var(--adfy_wishlist_wishlist_btn_bg_color_hover);
    }

    &:focus {

        outline: none;
    }
}

p.adfy-wl-btn .button,
.adfy-wl-btn:not(p.adfy-wl-btn) {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: normal;
    cursor: pointer;
    box-shadow: none;
    border-style: none;
    border-width: 0;
    border-color: transparent;
    transition: all 0.5s ease;

    &:focus,
    &:hover {

        box-shadow: none;
        border-style: none;
        border-width: 0;
        border-color: transparent;
    }

    &.adfy-wl-clear-btn-style {

        padding: 0;
        margin: 0;
        color:#444444;
        border: none;
        cursor: pointer;
        box-shadow: none;
        border-color: none;
        text-decoration: none;
        background-color: transparent;

        &:hover {

            color:#444444;
            border: none;
            box-shadow: none;
            text-decoration: none;
            background-color: transparent;
        }
    }
}

body.addonify-wishlist-btn-over-image .woocommerce-LoopProduct-link,
body.addonify-wishlist-btn-over-image .wc-block-product {

    position: relative;

    .adfy-wl-add-to-wishlist {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 2;
    }
}
/**
*
* Clear shortcode button style.
* Used on WooCommerce add to cart shortcode.
*
* @since: 1.1.1
*/

.adfy-wl-shortcode-btn.woocommerce.product {

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    text-transform: none;
    box-shadow: none;
    border-radius: 0;
    color: inherit;
    fill: inherit;
    text-align: inherit;
    transition: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    opacity: 1;
    background: transparent;
    background-color: transparent;

    &:hover {

        width: auto;
        height: auto;
        color: inherit;
        fill: inherit;
        outline: none;
        text-decoration: none;
        background: transparent;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }

    &:focus {

        fill: inherit;
        color: inherit;
        outline: none;
        text-decoration: none;
        background: transparent;
        background-color: transparent;
        border-radius: 0;
    }
}

/* --------------------------------------------------------------------------
	#. Add to Wishlist button
  -------------------------------------------------------------------------- */

.adfy-wl-add-to-wishlist,
.adfy-wl-add-to-cart .button,
.adfy-wl-add-to-cart .added_to_cart,
.woocommerce .shop_table .adfy-wl-add-to-wishlist,
.woocommerce ul.products li.product a.adfy-wl-add-to-wishlist
.woocommerce ul.products li.product button.adfy-wl-add-to-wishlist,
.woocommerce-page ul.products li.product a.adfy-wl-add-to-wishlist,
.woocommerce-page ul.products li.product button.adfy-wl-add-to-wishlist,
.woocommerce-page .product .summary button.adfy-wl-add-to-wishlist {

    display: inline-flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background: transparent;
    fill: var(--adfy_wishlist_wishlist_btn_text_color);
    color: var(--adfy_wishlist_wishlist_btn_text_color);
    background-color: var(--adfy_wishlist_wishlist_btn_bg_color);
    transition: all 0.5s ease;

    .addonify-wishlist-icon {

        display: inline-flex;
        line-height: 1;
        width: 16px;
        height: 16px;
        color: inherit;
        fill: inherit;
    }

	[class*="icon-spinner"] {
		animation: AddonifyWishlistSpin 1s linear infinite;
	}

    &:is(:hover, :focus) {

        outline: none;
        background: transparent;
        fill: var(--adfy_wishlist_wishlist_btn_text_color_hover);
        color: var(--adfy_wishlist_wishlist_btn_text_color_hover);
        background-color: var(--adfy_wishlist_wishlist_btn_bg_color_hover);
    }

    &.adfy-icon-before-label {

        flex-direction: row-reverse;
    }
}

.adfy-wl-add-to-cart .button,
.adfy-wl-add-to-cart .added_to_cart {

    padding: 10px 15px;
    border-radius: 2px;
}

.adfy-wl-btn-icon {
    line-height: 0;
}

/*
Shortcode Wishlist Icon
*/
.adfy_wishlist-icon-shortcode-btn {

    line-height: 1;
    position: relative;

    .icon svg {
        height: 20px;
        width: 20px;
    }

    .badge {
        align-items: center;
        background-color: #000;
        border-radius: 20px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
        color: #fff;
        display: inline-flex;
        font-size: 12px;
        height: 23px;
        justify-content: center;
        line-height: 1;
        position: absolute;
        top: -15px;
        transition: all 0.5s ease-in-out;
        width: 23px;

        &.top-right {
            right: -15px;
        }

        &.top-left {
            left: -15px;
        }
    }
}

#adfy-wl-content-wrapper #adfy-wl-form #addonify-wishlist-table .adfy-wl-table-btn {
    border-radius: 5px;
    font-size: 1em;
    padding: 7px 20px;
}

