
#___adfy-wishlist-app___ {

    .error-404 {

        display: block;
        margin: 200px auto 0 auto;
        text-align: center;
        min-height: 80vh;

        h3 {

            text-transform: uppercase;
            font-size: 112px;
            font-weight: bold;
            margin: 0 0 60px 0;
        }

        p {

            font-size: 13px;
            color: #8b8b8b;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: normal;
            margin: 0 0 30px 0;
        }

        .adfy-button {

            padding: 20px 60px;
            border-radius: 30px;
        }
    }
}
