/* -------------------------------------------------------------------------- 
	Upsell banner in sidebar
-------------------------------------------------------------------------- */

#upsell-banner {

	--badge-size: 60px;

	position: relative;
	padding: 30px;
	background-color: var(--addonify_primary_color);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	color: white;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAJLCAYAAABdZKsKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAABqISURBVHgB7d2Neuo4tiZgyZA+PU/P3Nnc8bm1U/EJxAJZyPwkQLzgfbv3xhjjVFX3/motSbZz+v//PSaAAIYEEITAAsLYpt/KK868cdft6njhVWzT9v+k38lp3R4cWOO9zj/e6Zhy6OedTnXtX9eZ40b/0uA+tmn4V+IXLgXD9Se64pjPG4Lmwl9XvvZEV/z9Xaxk7/XP6Ep3zUdhuya/bwnf3VNb4s36C9pbnA37MyF47ntL4Xmxyvu87WeNTw5h9gQWfyefS99znw0XvvaTqmhc3j/e+J1uOJ45/+I5xutOcfbc48LhMStHgcUf+mG5mJ9cZt7048bbA6t3fO7sX2zjl6rApSr1CWH16x/RP4HAgrvKtwfqGtr8W9vzS8e3YTveWgX29wss4Aft+YWx26sndW5rxQUWkG4u857Rlnd+hJXuQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWFs0/Y/31vj2Pn4c/fB/r/TQdX+1PneOL3vnQvgd7Ypb7+38tgJrV0B1gbQmOaF2ef8s7x7+Ux94+zlZH+6dj/wjrbHza+kybl/VE4/M6u2pu1639ir2Oqw+1SxAQfb9EizAJy2c9VidoNw7L+fVX+3tKqfC+0uEM1jA2svn77/UcVWV16dVnUfStWJ8xRq3ba2cTbPhB2sxRMC605yZ0LzluDrtaeHzz7PtKellf1MwN+KE1i/1WtPD4ZpVzu5UL2OY//zk1Y1ne4f/0nA771PYO0tTSpcUaqVQBubIJuFVBVMuZk97bWWV3WbWlIo3iywfqszk5o31ZuP5a92Z0w/O5+Pl4+FNyWwnqU7Yzo0M6Zt9VZttyE2LrSvJ/vbfRCXwHqqX8yYzlrSsVnoW5Z4fH7vP5lcWKjOzI4SjMAKpWlJfztLOvZmRJPZUVZLYL2L7ixptVQkd1rJsj2mdNKmakn5AwLrrbQTBleWaCfXh1YV2M5sDVtvRlRgcR8Ci+vMFu4Ot1+tcMss6TXH85YEFs+xr9KatnRW4TUzpL2FvOOlWdTUOV/qt6mEJLB4knpGNHc/vlrvjh65156m/vbJmBxRCCzi+W17Wlu6xvSm2yAttbLcm8DivfVa1f3L2Byze780q7pzrgW95rh0/jvjpWMu7X8NAos3d6FVveKjRd1qa6lKSwvtbJq3vL3zdM/xmgQWPMp+UqFzZ5DD5+l5FlvVhf2ram2PEzQCC97BSevbftjuWlulJrDgjSxdt/rMMu/3PJcQCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYUw3E4q1PB94T9vjk4vdNxtYt23a/rvZ1TyWqX04QL2vvQVF/Ww7gDurKqxK/VThPB6fKjz7vLzWFVlpLc/ccbF7P20hB1y2cHuZ3hOGN+kqY+/+1s1dFsfO5+6FDVxw//thzYIuTxl07i6LvfazvP/nuP1ZtuuwM94G7+RBN/Brq7OfPmG4Muw/bFrVIaX2eXbF2QcBABGt746j9SOc8hXLxMbPfuu5q8i0nPBS4t8iOed+67nZjbmN1SD/2Hly8LT/s6nGzHbCKr3APd1z9XLuicK95RpTMA2fnWM6rem4+AZ4gjd6CMUPZj7bdrO8P1RgY7LQFp7HU3POadvN3C7HSE1g1WNoddX2TwJ+T2CdtdBu1p1nHVh1MA277bF/pcDh+Is7gIrA+q3FWc2P+XFj3UKWwf5qcP/QfqrGYInAepYyfra7FKrMXG7a2clxocUsM5nGzXhvAuupLs1oNksvxiqwhs95ddZjFpMXJ7BWpZ3JPDOL2W0xq8Wy4/8keDUCK6r9lUp5GjebqqlhCrt9aG2q7bpqK4GWjvtUYwQhsMLKndnLpiI7V4XNlmgY6CcGgfXK8nT763r2sr088+R2QP8ct8dq3MxaMlZAYL270lqW7VTdMnsXdO2lSmdbTLOXPJbAenu56ioXFscWl1pMyy14MIHF9W5pMWfXW47z/cbN+CGBxX31Zi/37eX0emgpt/M1Z7NbAaWkzaRHYHFn+fy1l7WTu2FUbeWhzbTsgiOBxd/JQ7rq7tlje0mSW/28K4HF+k2385/fWTZPa8lK61m3nSnNFsS2raaKLSyBRQDVJUuXKrJrBv1VZGEJLF7L4VrMatX/LOSq6mpsnpd5qMj+6Vy6VD1Pkz8jsHhB+Uwlli/sH5vvj8egyp+dIKvezlpNrecjCCzeVz73gN+ObkVWBdri51rPexFYcK16bdnhRoxpIeya6urkms2mAvv8p/luHYIqtUJgwU2uWF/W+7C+OWMeT1vIYfaggCoM62s40/yY7na9qxd0F763cgILnqL3mLkr9RbPLj2tqf7OLd8L0rYKLFi73LuddtWS9p6vuRiIV1RVS+F191C79Ndy+jchsCCEfNWuH53nKd9tXZpFnS60bwgsYC4PC/vTnxsSQBACCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQxvD9DLIVPHAM4IJtGj5SGssTWKsnsY7pdF/3mKWnt44L2wA/s02bfze7xirApvf7fWW7PaZ65HT9vXE8czzA7TqPqv9qD/OuRRyP73u6u28Jo7Gp4jrBONb76wD8PFMBAq9qu/xRPvv2qu+cNX4ffgioXgtZvebO53WIjb3vpaZaXDgGCGGb/kyuXvLJ7uvV7ebnvPUcO9XZ+Dlt52kbiOIPA+te6hZ2U1VtqRN+ZyYIzoXb/u1n6lZ2wNO8QGAV11RpSx9MLefJxMC0TC2fmUDotaKzfZ3PgR95ocD6jfz9a3q5TlVtdScHqvZUGwp3IbB+rBqD27WkN7WhvZBLC8HXHANvTGD9Wp69LH4+07SYvfcnLernwnlON/vtKMQnsP5EmSg4vr1O1WL2ZkYPredYtarV9yA4gRVKqeaGajZ0aAKvCaeTqxY+q/1jfxlI/TmsiMAKaWEN25lDj4E0HN/P2sy6DS2Lets2dDzzVsDxeALrbfywDT1pPZtJgdm+T20oDyWwOO8QcsP8UqqLbWg9IVAtup2NrzUTDWZCuUBgcaVb29B6LGxIJ7OhuR5PS9/bOXXG3E435zuE3DsRWDxICbh8+/Wh3dnOekJgoT3l5Qks1ieXiix1qq6UlmdCm+rs5J5s1TFn7+cm/NZKYLFS9QTBDTOh+5d6prOpzmYtaVOhHa5Y6AXWufY0nT+euxFYvJCqDW123ax36dRs+7M5NqV+tZZOz8GPCSzoOYRebm5ZdC546irswucnx4w/OO6M8eqdd3bLHYovHFT/bzARWLCoV6ldWbJdc1ivMpvtnz6btbYXT7rw868Nq0vH5ed8fpiNnv+LQ2DBX+lUEL23HHmQKhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGNsEsHI5738XWMC6DV9ptfn69V+bQWAB67L9Cqf89Wv4qqo2edhXV1+/p82gwgJWZBdU22HYV1S7gPrXsJn2f38usICn2+XPLpi2UzB9fG0P+6oqn/2ewAIeatfa5d1/phavvN/k730lqPIV5xJYwMOUQNpMvz6+Wrzd6zBcF1AtgQXcxS6YtlMwbTff7d41bd4tBBZwk138HNq4qYLa/Wco7V21ne8YVjsCC7jaLn7yfqD8eyZvO+TDMoTNncOpR2ABJ0oVtZ1m77ZlJi+lu1dNtxBY8MZyPobTvnpKxxm7/azebs+Qv4OqfOEPCSx4U5tqUPxjOG5v8/c9Ef44m7oEFryoUjl9LymYtvctXlkLdTxu9r0VBlUhsCC4emHmvjaaZurqdq/M3JVr9HL+2TqovyawILCyILMMjG+mGbvdYPlOxFA6R2DBCpUB7k1K1Z0Lvge/h2vauvSaBBY8W2nVpjeldcuz9/lwW5UyY3ecvTsuzHw3AgueqIRQGQyvr7U7jDcNQxVg1AQW3EF9uUpZXDk0dyJor6vLZ85Fn8CCjrbbqtu14/uynauZulxVUekQXrkKLX5OYEGjroiOQXNcClBm4oY0H1fi8QQWL+kwe1a1aLn7OlVB00h4qYDqxq3Ootw5P88jsFinfG6qfgqVpbatbB9m4/I8qA6zcvmwNKBu21gvgcXqzNqwKUKGJmjq6f3ynU11Aa/C5zUJLH6tLHIslc2xupm3X2kajC7fKeuNUj5+L3dn0Y7fP/3s9K+B1yWw3lCv+sjt7912q36fT85XVz8ngdUcM5Rjpg/++j5LxCCw3sRsoDm1IdK0W/W4zqElOx5bt2EihmcSWH+ktDBlu559ys1MVZ5KlrpymX0v1+c4tlipc652+5p2K6WmApNS/BGBdaXlP6TLf3rP/bkuYzjzWa18MpbTHjcPp3S4jUhKnRDshBVEJrDOOGmhUhME9SBys93/rtkr+I2XCqw6JFKqwiUfW5p2Fut4XKqOSCeLBXuDzIfj6wonddovlQ7cxXoCK/f+QOelQ/v7czMonHK10rnsScf7CJX1PulwwKzFAtZlFYGVZ1ezV1PfdevVtFWlehqqcwCv7SGBdahqpu3ueE6peKqAOrZq03madivPf8jpPuClXR1Y8wImd7aO6nsC7S+ZmLYPt+DYHTPkkzEngFZdyFwMrNKqlbsj5tzepGy+LXyAe9k9nmw7fP/691fls/2YHkW9U6bmSzU1zBY2nk7Zl8+0Z8BvlfHrXTjtb3749fqRyxj2FF6bpnqa3VvaQDbwRLtg+vgKqs1UVX0M88+3/+9fHwngmXY59LE5tnv/2qTDkqNzrHQHHqoE0b6tG75bu92+w/ZhmdLlcwks4KGG/djT16/8XUltp6D6CYEF3M2+xcvf7d7HFEybId2NwAJuVlq4Mns31NvD9xjVLqjuPW0nsICblbD6mGbyyozeoxcWCCzgrF0I7cefpuUGZXbvLxY9CSxgr7R5ZeZu/6DYsogzfYdVaf3+aoWmwAL26javDJZ/DOWp12kVBBa8mbIOarfUYDNVVGXhZnvjyvSH1VSPwIIXVW5OuV+YORwXcNYLN4dUtXkrC6cegQUvqrR1ZW3Upro2L+plwgILAqsvcSnBlIfjLF5ujo1+PwOBBUGU9u7QvpXZu3yc3asXcQbPpi6BBStXKqPtcLzLQZm9297xspcIBBasQF0tlRvYberWLp+2d+9IYMETHWbt0vGau5Tn7d6mavs2QWbvnkVgwROUKqm0cpvpjgZ1QHGZwII7qdu6+jKWMs5U1kGVYw+zeMLqagILrlRypW7R6u2hauHKuidt3X0JLLhSe5vfUj3VSwl4LIHF29tXQek46N3+Kq3eziGUqpZOW/c8AouXV2biyku94ru8bqqZuk11h4I6yPh7AouXNVtwWVq4PG/tSkgRg8AinNKilbVMZUD7ZP3SdHyvjSvnkVWxCCxWox4PqjLm+7VKlvpaufq6uk21v8zM8VoEFqtQD3LP7tfUCSPjSe9LYPEQ9cLIYZgPdp/cdSDNK6tcf78eLBdUb09gcbV8srE8BlS3bZvqbpeHX+k4/vRmNxzgFwQWV6nbsU17u92mlVvTQwt4LQLrDeVmLGhoW7E8b91SOm3TerNt7YA53JvACi533uQLx+eqKjoslpxeh+HMGBP8MYEVVD0mVEJoU20P1Y3fDmNG2QwbsQmsP5J7bVg6bbnqS0jqz1I6bcGW7iKgVeNVCKwfyAtvrgmEOjyG5jVXFVOqK6bpmNSMPcG7EVhXqiueXsDUF8jO9qf5MS4HgZ97+cCatVXtdjmmrpLOtFWL51nYPvczgdu9fmDl+fT9YTulk+n9c9WToIG/t7rAulfrZZwHXs/dAqvb+uTTtqvbbj2g9QJez10Cq61qyrqfsp2r/ZeqJ2EDLNmeLDjsbLcrnrVewF/Y/ufjeM/rtpXTegFrsv2/HwkgBLciAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsLYJoAVy/nr19frdhBYwIrsgmnIx5DavZb3u1eBBazCUEJp8/26mbZLcO0ILOCpDsH01eIN06/tFEilsjpo3gss4CFKZbRv56Ydh3ZvqqA2ed72XSKwgLvbZc9m6Ld4vyGwgJuV1q0E0b7Nm9q7ffW0P2g6Nt2PwAIWDWUMaWrrcjXWNFTtXq5bu/QdXI8gsIATJXxKW9duD/csm24gsOCNHAbC07F9y9Xg92Ed1HRwyaXZ7N0fhdWOwIIXUgdMqrZz9fm+OqpDqqmaNiu+YE9gwYsoLdthO03V03AaSlEJLFipdh1THqrLVdLpQHfdqtWrw9fQyt2LwIIHO7dyuw2T3Owfhvk1dWW2rmzPAusNCCx4kFnQpHm4dPdXg95lP3MCCzrqWbK6NZu1WtXnqQ6gtDyrNquurtjP3Pa3/W2Ef7Zj+qEff3GVPya8vLDz0v8H88Kbc99bDKfcCbD6O9Ob6IPba7X9qK/taf4hX/PPPF/xhUf8bzfecMA1gTBevfP6gBmv+MLVYTX+4u9j4YC1BmX9L9FZGFTb5bjZwPLC/kvbSz+H9dn++yP9yjWB9WfG2ctf/fi7nuzefy9rDK3e/43ymcroUuu1ONB97jus0rzCAlgxD6EAwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALCEFhAGAILCENgAWEILCAMgQWEIbCAMAQWEIbAAsIQWEAYAgsIQ2ABYQgsIAyBBYQhsIAwBBYQhsACwhBYQBgCCwhDYAFhCCwgDIEFhCGwgDAEFhCGwALC2CaAFcvTb0MWWMBK5MNv8305f78Og8AC/lAJpJ3NLpCmQapdNbUPqM38eIEFPFSe2rn9a/1+mBdU5Zjyndw5l8ACfqXXytX7dyG1q5Z2IbSZKqfdvs0m3UxgAT9S2rlSGW2nUCr7NsOxYroXgQWcKNVRaeOGulWbqqRyXGnfTtq5O4fVjsCCN7VU/bQzc7vXzXD8Tmnr8gMC6RKBBW9kqEJmNwOX03FGrgTV9gdjS88isOBFlHZtXxFVwbQf5N6n0flZuZQe0sXdlcCCF7GvltLUtlUX3e0qps20jCA6gQUrVqqgwyzctL/MwJWxpLVXRvcisOAPlICp27ic+/vKjFvd5s2OSe9DYMGT1eFUBrw3eb6GqW3r+Caw4I4OiymnEBqaYFrzDFwEAgvOqNutPMxvIFe3ZanT1g3p8rVx3EZgwTlV0JS2bVMtAdhdD1e3cjyWwOIt9Aa161m3euFkvc26CCzCOoRKZ7ashE7bqpXv9WbdDudMSf+2UgKLkHrV0Ka97ESr9nIEFn+qVDNDbm5XMn1e3zNpM5wWPhfbNmH1UgQWdzdb8Fj2tbNlVQtWbvKW8ul36+362jfek8Di13oD2qVKGnr7LYrkhwTWG2ornNxsD22Fk1P/spGFk18sglRJ/JDACqhttZZar9nxC+97M2izc7bhlOehBc8ksIKoZ7qGYb5/qfWqj2+DCSISWD/UVi31/jYY2mn13OzLw+n7/TFp4WffGjyqIV5EuMDKnR350jH1Z7m/ffH7ndC5NrB6U/HdNq45t/VDMLctfyjG8etXWoel9qUe/C0uVS/nzrE0DnPNzwGeb/uf/0pxXNHa3DJDlX91IuDZtu7PA0Rh+R4QhsACQtiNI1vWAKxOfc/7Ync5l8ACVmUzzO+BP1TXoAos4OnK1Rj1xfBlmVG5kmN2nev0KrCAhymLoNuL6XcOlVSePzD23JUcAgt4iFJFHZ5SnY8t3k+vaxVYwK/U1VH7QNj6poz1sT8lsICrdC+XS8eQGqoB8lJV3ZvAAi4qA+OHJ1pX288ksIDjXWSrdm7/vp69y9Ug+i9bu58SWPBG8uG3udk41DCfuRuGtJp7AfwvsZ5JHf7JOt0AAAAASUVORK5CYII=');

	/**
	*
	* Upsell sale badge.
	*/

	#sale-badge {

		@include flex();
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 10;
		left: auto;
		right: -30px;
		top: -30px;
		height: var(--badge-size);
		width: var(--badge-size);
		color: white;
		border-radius: 100%;
		animation: addonifyPulseDot 2s infinite;
		background-color: red;
		background: linear-gradient(to right, #ff416c, #ff4b2b);
		@include transition(0.8s);

		&::before {

			content: "";
			position: absolute;
			height: calc( var(--badge-size) + 8px );
			width: calc( var(--badge-size) + 8px );
			border-style: dotted;
			border-width: 2px;
			border-color: #FF9D9D;
			border-radius: 100%;
		}

		&.has-caption {

			gap: 1px;
			flex-direction: column;
		}

		.sale-title {

			font-size: 14px;
			font-weight: normal;
			line-height: 1;
			letter-spacing: 0.25px;
			text-transform: uppercase;
		}

		.sale-caption {

			font-size: 13px;
			letter-spacing: 0;
			text-transform: none;
			font-weight: normal;
		}
	}

    .inner {

		.block-title {

			margin-bottom: 30px;

			.upsell-heading {

				color: white;
				font-size: 18px;
				margin: 0;
			}
		}

		.features {

			margin-bottom: 30px;

			.list {

				@include flex();
				flex-direction: column;
				gap: 15px;				
				margin: 0;
				padding: 0;
				list-style: none;

				li {

					@include grid();
					align-items: center;
					grid-template-columns: 20px auto;
					column-gap: 5px;
					font-size: 15px;
					color: rgba(255, 255, 255, 0.8);

					.icon {

						display: inline-flex;
						line-height: 1;
					}
				}
			}
		}

		.action {

			@include flex();
			align-items: center;
			justify-content: center;

			.adfy-button {

				width: max-content;
				padding: 20px 30px;
				color: var(--addonify_primary_color);
				background-color: white;
				border-radius: 40px;
				box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.2);

				&:is(:hover, :focus) {

                    fill: white;
                    color: white;
					background-color: var(--addonify_secondary_color);
                }

                &:is(:focus) {

                    outline: none;
                }
			}
		}
	}
}