#addonify-wishlist-app {

    display: block;
    position: relative;
    margin: 0 0 0 -20px;
    padding: 0;
    min-height: 100vh; // Let the footer stay at the bottom of the page.
    box-sizing: border-box;
    @include better_font_rendering();

    * {

        box-sizing: border-box;
        @include better_font_rendering();
    }

    /**
    *
    * App Container. 
    * Everything after header & before footer.
    * 
    * @since: 2.0.0
    */

    #addonify-container {

        display: block;
        position: relative;
        margin: 150px 0;
    }

    /**
    *
    * App Divider.
    * Divides route links, main option container & sidebar.
    *
    * @since: 2.0.0
    */

    #app-divider {

        @include grid();
        grid-template-columns: 250px auto 300px;
        column-gap: 0;
        max-width: 1800px;
        padding-left: 40px;
        padding-right: 40px;
    }
}