
/* -------------------------------------------------------------------------- 
	Premium page.
-------------------------------------------------------------------------- */

#upsell-pro {

    .adfy-jumbo-box {

        min-height: 600px;
    }

    .upsell-description {

        font-size: 16px;
        margin: 0;
    }
}