/* -------------------------------------------------------------------------- 
	Sidebar
-------------------------------------------------------------------------- */

#app-sidebar {

    position: relative;

    /**
    *
    * Upsell arrow.
    *
    */

    #upsell-arrow {

        position: absolute;
        z-index: 10;
        left: auto;
        right: 0;
        top: -200px;
    }
}