
// flex 

@mixin flex () {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

// transation

@mixin transation_delay () {

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
   	-o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@mixin transation_delay_none () {

	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
   	-o-transition: none;
    transition: none;
}

// scale 

@mixin scale () {

	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    @include transation_delay();
}


//  Mixins : Position  

@mixin position ( $top, $bottom, $left, $right ) {
	
	 top:$top;
	 bottom:$bottom;
	 left:$left;
	 right:$right;
	 -webkit-transform:translateY(-50%);
	 -moz-transform:translateY(-50%);
	 -ms-transform:translateY(-50%);
   	 -o-transform:translateY(-50%);
	 transform:translateY(-50%);
}

@mixin position_topnleft () {
	
	 top:50%;
	 left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


// Mixins : Overlay

@mixin overlay () {

	 top:0;
	 bottom:0;
	 left:0;
	 right:0;
	 background:rgba(0,0,0,0.8);
	 @include transation_delay();
}

// Mixins : Border Radius

@mixin border_radius ( $radius ) {

    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;

}

// Mixins : box shadow 


@mixin drop_shadow () {

	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
	-o-box-shadow: 0 2px 6px rgba(0,0,0,.2);;
	-ms-box-shadow: 0 2px 6px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

@mixin mild_drop_shadow() {

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

@mixin large_drop_shadow () {

	-ms-box-shadow: 0px 0px 65px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 0px 65px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 65px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 65px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 65px rgba(0,0,0,0.1);
}

