/* -------------------------------------------------------------------------- 
	#. Variables
  -------------------------------------------------------------------------- */

:root {

    // Base colors.
    --adfy_wishlist_text_color: #111111;
    --adfy_wishlist_link_color: blue;
    --adfy_wishlist_link_hover_color: #111111;

    // Button colors.
    --adfy_wishlist_button_color: #333333;
    --adfy_wishlist_button_hover_color: #111111;
    --adfy_wishlist_button_text_color: #111111;
    --adfy_wishlist_button_text_hover_color: #111111;
    --adfy_wishlist_button_border_color: transparent;
    --adfy_wishlist_button_border_hover_color: transparent;
    --adfy_wishlist_button_border_radius: 0;
    --adfy_wishlist_button_border_width: 0;
    --adfy_wishlist_button_border_style: solid;

    // Modal box colors.
    --adfy_wishlist_popup_notice_text_color: #333333;
    --adfy_wishlist_popup_notice_background_color: #FFFFFF;
    --adfy_wishlist_notice_popup_icon_color: #858585;
    --adfy_wishlist_notice_popup_button_color: white;
    --adfy_wishlist_notice_popup_button_hover_color: white;
    --adfy_wishlist_notice_popup_button_background_color: rgba(150, 88, 138, 1);
    --adfy_wishlist_notice_popup_button_background_hover_color: rgb(154, 60, 135);
}