.addonify-settings-wrapper *:focus{
    box-shadow: none !important;
}

#addonify-settings-wrapper{
    margin-top: 15px;
}

#addonify-settings-tabs  {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#addonify-settings-tabs li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

#addonify-settings-tabs a {
    background: #e2e6e6;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
}

#addonify-settings-tabs a:focus {
    box-shadow: none !important;
}

#addonify-settings-tabs a.active {
    background: #fff;
}


.addonify-content{
    background: #fff;
    padding: 15px 25px 20px;
}

.addonify-section > h2{
    color: #3f51b5;
}

.addonify-section:not(:first-child) {
    border-top: dotted 2px #ececec;
    padding-top: 25px;
    margin-top: 35px;
}


.addonify-content .color-picker{
    border: solid 1px #000;
    height: 30px;
    border-radius: 3px;
}

.addonify-content .checkbox-group{
    overflow: hidden;
    margin-bottom: 10px;
}

.addonify-content .checkbox-group input[type="checkbox"]{
    float: left;
    margin: 2px 10px 2px 2px;
}

.addonify-content .checkbox-group label{
    float: left;
}

.addonify-content .colorpicker-group{
    width: 260px;
    float: left;
}

.addonify-content .colorpicker-group p{
    font-weight: 600;
    margin-bottom: 3px;
} 

.addonify-content .textbox-group label.label {
    width: 100px;
    display: inline-block;
    margin: 10px 0;
}

.addonify-content .textbox-group input {
    width: 60px;
}

#addonify-image-overlay-btn-offset-wrapper{
    margin-top: -15px;
}

#addonify-image-overlay-btn-offset-wrapper .title{
    margin-bottom: 10px; 
    color: #673AB7;
}

.CodeMirror {
    border: solid 1px #e8e8e8;
    border-radius: 4px;
}
